@model DeviceManageSite.Models.IpPart

<fieldset>
    <span><h3>开始Ip </h3></span>
    @Html.TextBoxFor(m=>m.Start)
</fieldset>
<fieldset>
    <span><h3>结束Ip </h3></span>
    @Html.TextBoxFor(m=>m.End)
</fieldset>
