@model Order.Models.OrderPart


@using (Html.BeginFormAntiForgeryPost())
{
    @Html.LabelFor(m => m.PersonName)
    @Html.TextBoxFor(m => m.PersonName)
    @Html.LabelFor(m => m.Department)
    @Html.DropDownListFor(m=>m.Department,new SelectList(Order.Models.Parameters.Departments))
    <div>
        <label>ItemName</label>
        <input type="text" name="Items.ItemName" />
        <label>Quantity</label>
        <input type="number" name="Items.Quantity" />
        <label>Remark</label>
        <input type="text" name="Items.Remark" />
    </div>

    <button type="submit">提交</button>
}
