
<fieldset>
    @Html.ValidationSummary()
</fieldset>

@using (Html.BeginFormAntiForgeryPost())
{
    <fieldset>
        <label>类别</label>
        <input type="text" name="ClsName" />
    </fieldset>
    <fieldset>
        <select id="resType" name="resType">
            @Html.SelectOption("IP地址",true,T("IP地址").ToString())
            @Html.SelectOption("电话",true,T("电话").ToString())
        </select>
    </fieldset>
    <fieldset>
        <button type="submit">@T("添加")</button>
    </fieldset>
    
}