@model DeviceManageSite.ViewModels.CatagoryResourceEditModel

@{ 
    Script.Require("jQuery").AtFoot();
    Script.Include("knockout-3.4.2.js").AtFoot();
    Script.Include("classify.js").AtFoot();

    var classifiedArray = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(
        new
        {
            clssified = Model.Classified.ToArray()
        }
        ));

    var uncataloguedArray = Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(
        new
        {
            uncatalogued = Model.Uncatalogued.ToArray()
        }));
}

<fieldset>
    
    <ul data-bind="foreach: available">
        <li data-bind="text:data.ResContent"></li>
    </ul>
</fieldset>

<script type="text/javascript">
    var settings = {
        classifiedResource : (@classifiedArray)['classified']||[],
        uncataloguedResource : (@uncataloguedArray)['uncatalogued']||[],
    }
</script>